### 臺灣上市公司股票價格(含公司債)
### Taiwan listed stock's price.

In [1]:
from pandas.core.frame import DataFrame
import requests
import pandas as pd

def get_stock_price(date:str) -> DataFrame:

    # get csv file
    url = 'https://www.twse.com.tw/exchangeReport'
    url += f'/MI_INDEX?response=csv&date={date}&type=ALL'
    res = requests.get(url)
    data = res.text

    # cleaning process
    cleaned_data = []
    for da in data.split('\n'):
        if len(da.split('","')) == 16 and da.split('","')[0][0] != '=':
            cleaned_data.append([ele.replace('",\r','').replace('"','') 
                                for ele in da.split('","')])
            
    # output
    df = pd.DataFrame(cleaned_data, columns = cleaned_data[0])
    df = df.set_index('證券代號')[1:]

    return df

In [2]:
get_stock_price('20210601')

,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
證券代號,,,,,,,,,,,,,,,
1101,台泥,"9,774,499","4,923","502,441,292",51.60,51.60,51.20,51.50,-,0.10,51.50,38,51.60,"1,245",12.32
1101B,台泥乙特,"3,119",12,"167,076",53.50,53.60,53.50,53.60,,0.00,53.20,2,53.50,1,0.00
1102,亞泥,"7,274,980","2,979","375,093,096",51.90,51.90,51.30,51.60,-,0.30,51.60,11,51.70,"1,017",10.10
1103,嘉泥,"1,378,521",616,"30,436,310",22.25,22.40,21.95,22.20,-,0.05,22.20,30,22.25,33,7.74
1104,環泥,"468,921",247,"10,736,042",23.15,23.15,22.75,22.95,+,0.20,22.90,3,22.95,12,10.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9944,新麗,"568,458",286,"12,313,613",21.80,21.85,21.55,21.75,-,0.10,21.70,19,21.75,11,29.39
9945,潤泰新,"2,511,710","1,487","131,697,159",52.40,52.60,52.30,52.50,,0.00,52.50,16,52.60,74,6.44
9946,三發地產,"123,223",70,"1,838,351",14.90,15.00,14.85,14.90,+,0.05,14.90,7,15.00,26,93.12
9955,佳龍,"616,862",332,"12,277,473",20.10,20.20,19.50,19.95,+,0.10,19.95,14,20.10,5,0.00
9958,世紀鋼,"4,052,666","2,467","458,036,545",111.50,114.50,111.50,113.50,+,3.00,113.50,6,114.00,202,24.57