### 臺灣上市公司融資融券(包含ETF)
### Taiwan listed firm's margin purhcase and short sales information(including ETF)

In [1]:
from pandas.core.frame import DataFrame
import requests
import pandas as pd


def get_margin(date: str) -> DataFrame:

    url = 'https://www.twse.com.tw/exchangeReport/'
    url += f'MI_MARGN?response=json&date={date}&selectType=ALL'

    res = requests.get(url)
    source = res.json()
    df = pd.DataFrame(source['data'], columns=source['fields'])

    return df

In [2]:
get_margin('20210510')

,股票代號,股票名稱,買進,賣出,現金償還,前日餘額,今日餘額,限額,買進,賣出,現券償還,前日餘額,今日餘額,限額,資券互抵,註記
0,0050,元大台灣50,12,1,0,504,515,"295,625",0,0,0,159,159,"295,625",0,
1,0051,元大中型100,8,16,0,81,73,"2,625",0,0,0,0,0,"2,625",0,
2,0052,富邦科技,13,10,0,391,394,"12,625",0,0,0,8,8,"12,625",0,
3,0053,元大電子,0,0,0,1,1,"1,372",0,0,0,0,0,"1,372",0,
4,0054,元大台商50,0,0,0,0,0,"1,781",0,0,0,0,0,"1,781",0,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,9944,新麗,24,32,0,"7,371","7,363","27,276",0,0,0,0,0,"27,276",0,
1062,9945,潤泰新,431,230,0,"6,903","7,104","376,220",3,2,0,24,23,"376,220",0,
1063,9946,三發地產,4,11,0,"1,096","1,089","80,250",0,0,0,0,0,"80,250",0,
1064,9955,佳龍,314,547,0,"1,816","1,583","25,802",24,0,0,78,54,"25,802",11,
1065,9958,世紀鋼,"3,252","1,893",8,"14,889","16,240","57,525",13,81,1,109,176,"57,525",16,